/*all */
* {
    margin: 0;
    padding: 0;

}

/*start main header */
.main {
    background-color: darkgray;
    padding: 20px;
    color: #dddddd;
    text-align: center;

}
/*end main header */

/*start nave bar */
nav {
    background: #dddddd;

}

nav ul {
    padding: 20px;
    text-align: center;

}

nav ul li:after {

    content: "|";
    padding: 5px;
}

nav ul li:last-child:after {

    content: "";

}

nav ul li {

    display: inline-block;
    padding: 10px;
}

/*end nav bar */
body {

    font-family: Arial, Tahoma;

}
/*start article */
article {
    /*padding: 20  x;*/
    margin: 20px;
    border: 1px solid #CCCCCC;
    background-color: #F6F6F6;

}

article header {
    background-color: #E2E2E2;
    padding: 10px;

}

article section {

    padding: 10px;

}
/*end article */

/*start footer */
footer {

    background-color: darkgray;
    padding: 10px;
    color: #dddddd;
    text-align: center;

}
/*end footer */


